<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app requires microphone access for real-time transcription.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.aws.bedrock.oauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bedrock</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
